
*{
    box-sizing: border-box;
    margin: 0;
}


body.container{
    display: flex;
    flex-direction: row;
}


aside.sidebar{
    background-color: lightblue;
    height: 100vh;
    width: 200px;
}


header.header{
    background-color: lightpink;
    height: 125px;
    width: calc(100vw - 200px);
}


main.main{
    background-color: lightgreen;

}

section.section{
    background-color: bisque;
    height: calc(100vh - 125px);
}
